<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @buck.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @buck.status %>
</p>

<p>
  <strong>Value:</strong>
  <%= @buck.value %>
</p>

<p>
  <strong>Goes to:</strong>
  <%= @buck.goes_to %>
</p>

<%= link_to 'Edit', edit_buck_path(@buck) %> |
<%= link_to 'Back', bucks_path %>
