<!DOCTYPE html>
<html>
  <head>
    <title>Recognition Bucks App | <%= yield(:title) %> </title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render("layouts/partials/header")%>
    <div class="container">
      <section>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </section>
      <%= render("layouts/partials/footer") %>
    </div>
  </body>
</html>
